<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sosiogram | Testing local storage</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css"
          type="text/css"/>
</head>
<body>
<div class="container">
    <h1>Id-mapping for elever</h1>
    <div id="namesMap">
        <form id="idNameMapping">
            <label for="key">Key</label>
            <input v-model="newId" id="key" type="text" name="key"/>
            <label for="value">Value</label>
            <input v-model="newUser" id="value" type="text" name="value"/>
            <button v-show="!editData()" class="btn btn-default" v-on="click: addItem(newId, newUser)">Legg til</button>
            <button v-show="editData()" class="btn btn-default" v-on="click: addItem(newId, newUser)">Lagre</button>
            <div>
                <ul>
                    <li v-on="click: editPair(pair)" v-repeat="pair: pairs">{{ pair.value }}</li>
                </ul>
            </div>
        </form>
    </div>
</div>
<script type="application/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.12.8/vue.min.js"></script>
<script type="application/javascript" src="javascripts/localStorage.js"></script>
</body>
</html>